body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #443434;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

input::placeholder {
    color: #aaa;
}

#startButton {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #45a049;
    cursor: pointer;
}

.time-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-block {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
}
